.title {
  font-size: 26px;
  font-weight: 500;
  word-break: break-all;
}

.content {
  font-size: 18px;
  word-break: break-all;
  margin-bottom: 16px;
}

.actionsBox {
  display: flex;
  .created {
    flex: 2;
    font-size: 12px;
  }
  .actions {
    flex: 1;
  }
}
